<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="./header.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
      
        <img src="../assets/images/D.png" width="200px" height="200px">
        <div class="container">
            <a href="/index.html" target="_parent">
           <button type="button">Menu</button>
        </a>
            <a href="/pages/contato.html" target="_parent">
          
                <button type="button">contato</button>
                
            
          
        </a>
        <a href="../pages/planner.html" target="_parent">
            <button type="button">Planner</button>
        </a>
        </div>
   
    </header>
</body>

</html>